[project]
	description = Stanford algorithms course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nikolaspapirniywork
[access "refs/for/refs/*"]
	read = group user/nikolaspapirniywork
	push = group user/nikolaspapirniywork
	label-Code-Review = -2..+2 group user/nikolaspapirniywork
	label-Verified = -1..+1 group user/nikolaspapirniywork
	rebase = group user/nikolaspapirniywork
	removeReviewer = group user/nikolaspapirniywork
	submit = group user/nikolaspapirniywork
[access "refs/heads/*"]
	read = group user/nikolaspapirniywork
	create = group user/nikolaspapirniywork
	push = +force group user/nikolaspapirniywork
	pushMerge = group user/nikolaspapirniywork
[access "refs/tags/*"]
	push = +force group user/nikolaspapirniywork
	pushTag = group user/nikolaspapirniywork
	pushSignedTag = group user/nikolaspapirniywork
